.nav-bar-sett {
    height: 50px;
}

.p-t {
    padding-top: 15px;
}
#sign-in {
    width: 2%;
    border-radius: 50px;
}
.color-bar-t {
    color: black;
    text-decoration: none;
}
.a-1 {
    margin-left: 1%;
    text-align: left;
    width: 49%;
    float: left;
}

.div-1 {
    margin-right: 1%;
    text-align: right;
    width: 49%;
    float: right;
}

.btn-1 {
    background-color: rgb(18, 39, 161);
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.m-b-t {
    margin-right: 3px;
}
.log-1 {
    margin-top: 140px;
    text-align: center;
}
.dnm {
    background: rgb(255, 255, 255);
}
#input-text {
    height: 25px;
  margin: 0px auto;
  width: 100%;
  float: left;
}
.mic {
    margin-left: 7px;
    margin-right: 7px;
    width: 20px;
    float: right;
    border-radius: 2px;
}
.icon {  
    margin-left: 7px;
    margin-right: 7px;
    width: 19px;
    float: left;
    border-radius: 2px;
}

.box-2 {
    margin: 0px auto;
    text-align: center;
    width: 480px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
  justify-content: center;
  align-items: center;
}
.box-3 {
    padding-top: 1%;
}
 
.btn-2 { 
    padding: 0 20px;
    text-align: center;
    border: 1px;
    background: #f2f2f2;
    height: 36px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f6368;

}

.f-1 {
    padding-left: 1%;
    float:left ;
}

.f-2 {
    padding-right: 1%;
    float:right ;
}

.box-1 {
    margin-top: 20px;
}

.foot-1 {
    margin-top: 26%; 
    background-color: #f2f2f2;
    height: 38px;
}

.foot-2 {
    text-align: justify;
    padding: 1%;
}

textarea:focus, input:focus{
    outline: none;
}